body {
  font-family: monospace;
  background-image: url("./Images/cartoon-sky.jpg");
  background-size: 100%;
  color: darkblue;
}

img {
  background: transparent;
}

.selectionBtns {
  display: flex;
  flex-direction: row;
}

.selectionBtns img {
  width: 10%;
  height: 20%;
}

section {
  display: none; /* initially hide all sections */
}

.welcomePage {
  display: block;
  text-align: center;
}

h1 {
  font-size: 30px;
}

h2 {
  color: rgb(68, 7, 7);
}
.petSelectionPage,
.gamePage,
.deathMes {
  display: none; /* hide these sections by default */
}

.image-button {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.image-button:hover {
  border-color: blue;
}

.animals > div {
  display: none; /* hide all animal sections by default */
}

.snake,
.fish,
.rabbit {
  display: none; /* ensure specific animals are hidden by default */
}
